body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: #F9FAF8;
}

.hero {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 20px;

}

.logo {}

.menu ul {

  display: flex;
  color: #F9FAF8;
  gap: 20px;
  /* espacio entre links */
  list-style: none;
  /* quita viñetas */
  padding: 0;
  /* elimina sangría predeterminada */
  margin: 0;
}

.info {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 8px;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;


}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  background-color: #3882F6;
  border-color: #3882F6;
  width: 30%;
  height: 2em;
  color: #F9FAF8;
  border-radius: 10%;
  margin-bottom: 50px;
}

/*.info-right {
  display: flex;
}*/
.quote {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 8px;
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;



}